@*@model IEnumerable<VideoRental.Models.Customer>*@

@{
    ViewBag.Title = "Index";
}

<br />
@Html.ActionLink("New Customer","New","",new { @class="btn btn-primary"})
<br />
<div>
    <h2>Customer List</h2>
    @*@if (!Model.Any())
    {
        <p>No Records Found</p>
    }
    else
    {
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            using (Html.BeginForm("Delete", "Customer", new { id = customer.Id }))
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name,"Edit",new { id=customer.Id})</td>
                    <td>@customer.MemberShipType.Name</td>
                    <td>@Html.ActionLink("Details", "Details", new { id = customer.Id })</td>
                    <td><input type="submit" class="btn btn-link" value="Delete" onclick="return confirm('Are you sure, do you want to delete this record')" /></td>
                </tr>
            }

        }

    </tbody>
</table>
    }*@
    

    <table id="customers" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>MemberShip Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>

@section scripts
{

    <script>
        $(document).ready(function () {

           var table= $('#customers').DataTable({
                ajax:
                {
                    url: "/api/Customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer)
                        {
                            return "<a href='customer/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "memberShipType.name"
                    },
                    {
                        data: "id",
                        render: function (data)
                        {
                            return "<button data-customer-id=" + data + " class='btn btn-link js-delete'> Delete</button>"
                        }
                    }

                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure, do you want to delete this record?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Customers/" + button.attr('data-customer-id'),
                            method: "Delete",
                            success: function ()
                            {
                                table.row(button.parents('tr')).remove().draw();
                            }
                        })
                    }
                    
                })
            })
        })
    </script>
}

